<form action="" (ngSubmit)="onSubmit()" [formGroup]="amountForm">

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            {{accountCurrency}} 
        </div>
        
        <div class="col-sm-10 col-md-10 col-lg-10">
            <input type="number" placeholder="Amount" id="amountField" formControlName="amount" autofocus>
        </div>
        
    </div>
    <app-instrument></app-instrument>


    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <button class="btn btn-primary" > Deposit {{amountForm.get("amount").value}}{{accountCurrency}}</button>
        </div>
    </div>
</div>
</form>