<div class="container-fluid" id="qdbox">
<div class="row">
  <app-amount-field></app-amount-field>
  
  <!-- <button class="btn btn-primary">Inside this</button> -->
</div>

</div>
<!-- <router-outlet></router-outlet> -->